<ion-view>
  <ion-content scroll="false">
    <div class="heatmap-ticker">
      <span class="heatmap-ticker-text">{{ models.tickerText }}</span>
    </div>
    <div class="heatmap-sidemenu" style="line-height: 30px;">
      <div>
        <div>
          <i class="icon ion-home" ng-click="goHeatMap()"></i>
        </div>
        <div>
          <i class="icon ion-person" ng-click="goProfile()"></i>
        </div>
        <div>
          <i class="icon ion-ios-drag"></i>
        </div>
        <div>
          <i class="icon ion-heart"></i>
        </div>
        <div>
          <i class="icon ion-chatbubbles"></i>
        </div>
        <div>
          <i class="icon ion-ios-search"></i>
        </div>
      </div>
    </div>
    <div class="heatmap-content">
      <div ng-repeat="region in models.activeRegionGroup"
           class="close-region"
           ng-class="{'open-region': region.isOpen}"
           ng-style="calcRegionPosition($index)"
           ng-click="toggleVenueRegion(region)" on-swipe-right="swipeRegionsRight()" on-swipe-left="swipeRegionsLeft()">
        <span class="region-name" ng-class="{'region-name-active-region': region.isOpen}">{{ region.name }}</span>
        <div venue-region="region" style="width: 100%; height: 100%;"></div>
      </div>
    </div>
    <div class="heatmap-advertisement"><span>Advertisement here</span></div>
  </ion-content>


</ion-view>
