<!--<ion-content class="background" scroll="false">-->
  <!--<div class="hype-login-title">HYPE</div>-->
  <!--<label class="item login-button">-->
      <!--<button class="button button-block button-positive" ng-click="fbLogin()">-->
      <!--Login with Facebook-->
      <!--</button>-->
      <!--<button class="button button-block button-positive">-->
      <!--Sign up-->
      <!--</button>-->
  <!--</label>-->
<!--</ion-content>-->

<ion-content style="height: 120%;" class="background login-page" scroll="false">

  <div style="display: flex; flex-direction: column;">
    <div class="hype-login-title" style="align-self: center">
      HYPE
    </div>


    <div class="hype-sub-title" style="align-self: center; margin-top: 15%;">
      Search and Experience
    </div>
    <div class="hype-sub-title" style="align-self: center; margin-top: 4%;">
      Nightlife
    </div>

    <div class="hype-live-title" style="align-self: center; margin-top: 5%;">
      LIVE
    </div>

    <div class="login-button" style="align-self: center; margin-top: 30%;">
      <button style="background-color: #3b5998" class="button button-block button-positive" ng-click="fbLogin()">
        <span style="font-family: Rockwell; font-size: small;">Login with Facebook</span>
      </button>
    </div>


    <div class="login-button" style="align-self: center; margin-top: -4%;">
      <button style="background-color: #C92228" class="button button-block button-positive">
        <span style="font-family: Rockwell; font-size: small;">Sign up</span>
      </button>
    </div>

    <div class="login-text" style="align-self: center; margin-top: 5%;">
      Terms of Service and Privacy Policy
    </div>

    <div class="login-text" style="align-self: center; margin-top: 3%;">
      Have an account? Log in
    </div>



  </div>



</ion-content>
