<ion-modal-view>
  <ion-content class="background signup-page">


    <div style="display: flex; flex-direction: column;">

      <div style="align-self: center; margin-top: 20%; width: 65%;">
        What is your e-mail address?
      </div>
      <div class="list list-inset" style="align-self: center; margin-top: 2%; width: 65%;">
        <label class="form-box item item-input">
          <input type="text">
        </label>
      </div>


      <div style="align-self: center; margin-top: 5%; width: 65%;">
        Choose your password
      </div>
      <div style="margin-top: 2%; align-self: center; width: 65%;" class="list list-inset">
        <label class="form-box item item-input">
          <input type="text">
        </label>
      </div>

      <div style="align-self: center; margin-top: 5%; width: 65%;">
        What is your gender?
      </div>
      <div style="margin-top: 2%; align-self: center; width: 65%;" class="list list-inset">
        <label class="form-box item item-input">
          <input type="text">
        </label>
      </div>

      <div style="align-self: center; margin-top: 5%; width: 65%;">
        When is your birthday?
      </div>
      <div style="margin-top: 2%; align-self: center; width: 65%;" class="list list-inset">
        <label class="form-box item item-input">
          <input type="text">
        </label>
      </div>

      <div class="login-button" style="align-self: center; margin-top: 1%;">
        <button style="background-color: #C92228" class="button button-block button-positive" ng-click="goToLogin()">
          <span style="font-family: Rockwell; font-size: medium;">Login</span>
        </button>
      </div>



    </div>












  </ion-content>
</ion-modal-view>
