<!--<div ng-repeat="venue in region.venues"-->
     <!--class="venue-in-region"-->
     <!--ng-style="calcVenuePosition($index)">-->
  <!--{{ venue.name }}-->
<!--</div>-->
<!--{{ venue.name }}-->


<div class="venue-container">
  <div ng-repeat="venue in bang"
       title="{{ venue.normalizedHeatScore }}"
       ng-click="openVenueModal(venue.id)"
       class="venue-inactive"
       ng-style="calcHeatMapColor(venue)"
       ng-class="{'venue-active': region.isOpen, 'in-range': isInVenueRange(venue)}"
       style="color: white;">
    {{ venue.short_name }}
  </div>
</div>


<!--<table style="width: 100%; height: 100%;">-->
  <!--<tr>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
    <!--<td>foo</td>-->
  <!--</tr>-->
<!--</table>-->
